@import url("https://fonts.googleapis.com/css2?family=Antonio&family=Anton&family=Lato:wght@500&family=Oswald:wght@300&family=Tilt+Prism&display=swap");

@import url("components/container.css");
@import url("components/avatar.css");
@import url("components/button.css");
@import url("components/banner.css");
@import url("components/card.css");


body {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  margin: 0px;
}

h1 {
  font-family: 'Roboto', cursive;
}

h2 {
  font-family: 'Roboto', sans-serif;
}

h3 {
  font-family: 'Roboto', sans-serif;
  margin-top: 60px;
  margin-bottom: 0px;
  margin-left: 120px;
}

h4 {
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
}
